# Node.js 관련
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock
.pnpm-debug.log

# 환경 변수 파일
.env
.env.local
.env.development
.env.production
.env.test

# 로그 파일
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# OS별 불필요한 파일
.DS_Store
Thumbs.db

# 빌드 파일
dist/
build/
.cache/

# IDE 관련
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
